<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ahsul Courses</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
    <script src="javascript/products.js"></script>
</head>
<body>
    <div id="app" style="height: 100%; width: 100%;">
        <div class='navigation'>
            <img src="images/athlon.png" alt="">
            <p style="color: aliceblue; margin-left: 2%;">Athlon Classes</p>
            <button  v-on:click="showCheckout" v-if="cartItemCount > 0" style="cursor: pointer;" >
                <!-- {{cartItemCount}} -->
                <span>{{cartItemCount}}</span>
                <span class="fas fa-cart-plus"></span>
            </button>
            <button v-else>
                <span class="fas fa-cart-plus"></span>
            </button>
        </div>
        <div class='content'>
            <div class='left' style="padding: 2%;">
                <input v-model="search" placeholder="Search">
                <p><strong>Sort By:</strong></p>
                <p><input type="radio" id="title" value="Title" v-model="sort">
                    <label for="title">Title</label></p>
                <p><input type="radio" id="location" value="Location" v-model="sort">
                    <label for="location">Location</label></p>
                <p><input type="radio" id="price" value="Price" v-model="sort">
                    <label for="price">Price</label></p>
                <p><input type="radio" id="availability" value="Availability" v-model="sort">
                    <label for="availability">Availability</label></p>
                <p><strong>Price Order:</strong></p>
                <p><input type="radio" id="ascending" value="Ascending" v-model="sortOrder">
                    <label for="ascending">Ascending</label></p>
                <p><input type="radio" id="descending" value="Descending" v-model="sortOrder">
                    <label for="descending">Descending</label></p>
            </div>
            <div class='right' style="padding: 2%;">
                <main>
                    <div v-if="ordered">
                        <div style="width: 95%; height: fit-content; padding: 2%; background-color: antiquewhite; border-radius: 4%; margin-top: 2%;">
                            <h1 style="text-align: center;">Order Information</h1>
                            <p>
                                <strong>First Name: </strong>
                                <p> {{order.firstName}}</p>
                            </p>
                            <p>
                                <strong>Last Name: </strong>
                                <p> {{order.lastName}}</p>
                            </p>
                            <p>
                                <strong>Number: </strong>
                                <p> {{order.number}}</p>
                            </p>
                            <h1 style="text-align: center;">Your order has been confirmed</h1>
                            <div style="text-align: center;">
                                <button style="background-color: rgb(2, 117, 216); border-radius: 20%; cursor: pointer; color: white; font-size: large; padding: 2%;" v-on:click="backToStarting"
                                >Go Back</button>
                            </div>
                        </div>
                    </div>
                    <div v-else>
                        <div v-if="showProduct" style="width: 100%; margin: 2%; display: flex; flex-wrap: wrap;">
                            <div v-if="search==''" v-for="product in sortedProducts" style="width: 15%; padding: 2%; background-color: aliceblue; border-radius: 2%; margin: 2%;">
                                <figure>
                                    <img v-bind:src = "product.image" height="100px" width="100px">
                                </figure>
                                <h2 v-text="product.title"></h2>
                                <p v-html="product.description"></p>
                                <p>Location: {{product.Location}}</p>
                                <p>Price: {{product.price}} </p>
                                <p>Available Inventory {{product.availableInventory - cartCount(product.id)}}</p>
                                <button v-on:click = "addToCart(product)" v-if="canAddToCart(product)" style="background-color: rgb(2, 117, 216); border-radius: 20%; cursor: pointer; color: white;">
                                    Add to cart 
                                </button>
                                <button disabled="disabled" v-else style="background-color: rgb(223, 53, 69); border-radius: 20%; color: white;">
                                    Add to cart
                                </button>
                                <span v-if="product.availableInventory === cartCount(product.id)">All out!</span>
                                    <span v-else-if="product.availableInventory - cartCount(product.id) < 10">Only {{product.availableInventory - cartCount(product.id)}} left!</span>
                                    <span v-else>Buy now!</span>
                            </div>
                            <div v-if="search!=''" v-for="product in searchedProducts" style="width: 15%; padding: 2%; background-color: aliceblue; border-radius: 2%; margin: 2%;">
                                <figure>
                                    <img v-bind:src = "product.image" height="100px" width="100px">
                                </figure>
                                <h2 v-text="product.title"></h2>
                                <p v-html="product.description"></p>
                                <p>Location: {{product.Location}}</p>
                                <p>Price: {{product.price}} </p>
                                <p>Available Spaces {{product.availableInventory - cartCount(product.id)}}</p>
                                <button v-on:click = "addToCart(product)" v-if="canAddToCart(product)" style="background-color: rgb(2, 117, 216); border-radius: 20%; cursor: pointer; color: white;">
                                    Add to cart 
                                </button>
                                <button disabled="disabled" v-else style="background-color: rgb(223, 53, 69); border-radius: 20%; color: white;">
                                    Add to cart
                                </button>
                                <span v-if="product.availableInventory === cartCount(product.id)">All out!</span>
                                    <span v-else-if="product.availableInventory - cartCount(product.id) < 10">Only {{product.availableInventory - cartCount(product.id)}} left!</span>
                                    <span v-else>Buy now!</span>
                            </div>
                            
                        </div>
                        <div v-else>
                            <div style="padding: 2%;">
                                <h1 style="text-align: center;">Cart</h1>
                                <div style="display: flex; flex-wrap: wrap;">
                                    <div v-for="product in cartProducts" style="width: 17%; padding: 2%; background-color: aliceblue; border-radius: 2%; margin: 2%;">
                                        <figure>
                                            <img v-bind:src = "product.image" height="100px" width="100px">
                                        </figure>
                                        <h2 v-text="product.title"></h2>
                                        <p v-html="product.description"></p>
                                        <p>Location: {{product.location}}</p>
                                        <p>Spaces: {{cartCount(product.id)}}</p>
                                        <p>Price: {{product.price}} Per Course</p>
                                        <span> 
                                            <button v-on:click = "removeOne(product.id)" style="border-radius: 20%; background-color: rgb(223, 53, 69); color: white; cursor: pointer;">
                                                Remove One
                                            </button>
                                        </span>
                                        <span style="border-radius: 4%;">
                                            <button v-on:click = "removeAll(product.id)" style="border-radius: 20%; background-color: rgb(223, 53, 69); color: white; cursor: pointer;">
                                                Remove All
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div style="width: 95%; height: fit-content; padding: 2%; background-color: antiquewhite; border-radius: 4%; margin-top: 2%;">
                                    <h1 style="text-align: center;">Order Information</h1>
                                    <p>
                                        <strong>First Name: </strong>
                                        <input v-model="order.firstName">
                                    </p>
                                    <p>
                                        <strong>Last Name: </strong>
                                        <input v-model="order.lastName">
                                    </p>
                                    <p>
                                        <strong>Number: </strong>
                                        <input v-model="order.number">
                                    </p>
                                    <div style="text-align: center;">
                                        <button style="background-color: rgb(2, 117, 216); border-radius: 20%; cursor: pointer; color: white; font-size: large; padding: 2%;" v-on:click="checkout"
                                        v-if="cartItemCount>0 && checkNameAndPhone">Checkout</button>
                                        <button disabled="disabled" v-else style="background-color: rgb(223, 53, 69);  border-radius: 20%; color: white; font-size: large; padding: 2%;">
                                            Checkout
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript">
    
    let webstore = new Vue ({
        // specifies the Document Object Model (DOM)
        
        el: "#app",
        
        data: {
            sitename: "Vue.js Pet Depot",
            products: products, 
            showProduct: true,
            cart: [],
            search: '',
            sort: '',
            sortOrder: 'Ascending',
            order: {
                        firstName: '',
                        lastName: '',
                        number: ''
                    },
            ordered: false
        },
        methods: {
                addToCart: function(product){
                    this.cart.push(product.id);
                },
                showCheckout() {
                    this.showProduct = this.showProduct ? false : true;
                },
                canAddToCart(product) {
                    return product.availableInventory > this.cartCount(product.id);
                },
                cartCount(id) {
                        let count = 0;
                        for(let i = 0; i < this.cart.length; i++) {
                            if (this.cart[i] === id) {
                            count++;
                            }
                        }
                        return count;
                },
                findingProduct(id) {
                    for(let i = 0; i< this.products.length; i++){
                        if(this.products[i].id == id){
                            return products[i];
                        }
                    }
                },
                removeOne(id) {
                    let counter = 0;
                    function  removing(product){
                        if(product !== id){
                            return product;
                        }else{ 
                            if(counter===0){
                                // return
                            }else{
                                return product;
                            }
                            counter = counter + 1;
                            // alert(counter);
                            // console.log('hello');
                        }
                    }
                    this.cart = this.cart.filter(removing)
                },
                removeAll(id) {
                    function  removing(product){
                        if(product !== id){
                            return product;
                        }
                    }
                    this.cart = this.cart.filter(removing)
                },
                checkout(){
                    this.ordered = true;
                },
                backToStarting() {
                    this.cart.splice(0, this.cart.length);
                    this.order.firstName = '';
                    this.order.lastName = '';
                    this.order.number = '';
                    this.ordered = false;
                    this.showProduct = true;
                }
            },
        computed: {
            cartItemCount: function() {
                return this.cart.length || '';
            },
            sortedProducts() {
                    // the comparison function that defines the order
                    sortCart = this.cart;
                    function compareTitle(a, b) {
                                if (a.title > b.title) return 1;
                                if (a.title < b.title) return -1;
                                return 0;
                            }
                    function compareLocation(a, b) {
                                if (a.Location > b.Location) return 1;
                                if (a.Location < b.Location) return -1;
                                return 0;
                            }
                    function comparePrice(a, b) {
                                if (a.price > b.price) return 1;
                                if (a.price < b.price) return -1;
                                return 0;
                            }
                    function cartCount(id) {
                        let count = 0;
                        for(let i = 0; i < sortCart.length; i++) {
                            if (sortCart[i] === id) {
                            count++;
                            }
                        }
                        return count;
                    }
                    function compareAvailability(a, b) {
                        console.log(a.availableInventory - cartCount(a.id));
                                if (a.availableInventory - cartCount(a.id) > b.availableInventory - cartCount(b.id)) return 1;
                                if (a.availableInventory - cartCount(a.id) < b.availableInventory - cartCount(b.id)) return -1;
                                return 0;
                            }
                    switch(true){
                        case this.sort === 'Title' && this.sortOrder === 'Ascending':
                            return this.products.sort(compareTitle);
                            break;
                        case this.sort === 'Title' && this.sortOrder === 'Descending':
                            return this.products.sort(compareTitle).reverse();
                            break;
                        case this.sort === 'Location' && this.sortOrder === 'Ascending':
                            return this.products.sort(compareLocation);
                            break;
                        case this.sort === 'Location' && this.sortOrder === 'Descending':
                            return this.products.sort(compareLocation).reverse();
                            break;
                        case this.sort === 'Price' && this.sortOrder === 'Ascending':
                            return this.products.sort(comparePrice);
                            break;
                        case this.sort === 'Price' && this.sortOrder === 'Descending':
                            return this.products.sort(comparePrice).reverse();
                            break;
                        case this.sort === 'Availability' && this.sortOrder === 'Ascending':
                            return this.products.sort(compareAvailability);
                            break;
                        case this.sort === 'Availability' && this.sortOrder === 'Descending':
                            return this.products.sort(compareAvailability).reverse();
                            break;
                        default: 
                            return this.products;
                            break;
                    }
                    
            },
            searchedProducts() {
                const search = (product) => {
                    return product.title.toLowerCase().includes(this.search.toLowerCase()) || product.description.toLowerCase().includes(this.search.toLowerCase()) ||
                    product.Location.toLowerCase().includes(this.search.toLowerCase());
                }
                return this.products.filter(search);
            },
            cartProducts() {
                const allProducts = (product) => {
                   return this.cart.includes(product.id);
                }
                return this.products.filter(allProducts);
            },
            checkNameAndPhone(){
                return /^[A-Za-z\s]+$/.test(this.order.firstName) && /^[A-Za-z\s]+$/.test(this.order.lastName) && /^[0-9]+$/.test(this.order.number);
            }
        },
    });
</script>
<style>
    html, body {
        height: 100%;
        margin: 0%;
    }

    .navigation{
        height: 5%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: rgb(54, 69, 79);
    }
    .content{
        height: 100%;
        width: 100%;
        display: flex;
    }
    .left{
        height: 100%;
        width: 15%;
        background-color: rgb(229, 228, 226);
        overflow: auto;
    }
    .right{
        height: 100%;
        width: 85%;
        background-color: rgb(211, 211, 211);
        overflow: auto;
    }
   </style>
</html>